@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
	font-family: 'TitleFont';
	src: url('/fonts/AdiCupQ2022.ttf') format('truetype');
}

@theme {
	--font-title: "TitleFont", serif;
	--color-vr-white: #faf1e6;
	--color-vr-lightYellow: #fff7cc;
	--color-vr-yellow: #FFD700;
	--color-vr-darkYellow: #332b00;
	--color-vr-black: #0a0601;
	--color-vr-red: #e01b1b;
}

* {
	border-color: var(--color-vr-darkYellow);
	color: var(--color-vr-darkYellow);
	font-family: "Montserrat", sans-serif;
	outline: none;
}

::-webkit-scrollbar{
   position: absolute;
   height: 10px;
   width: 10px;
}
::-webkit-scrollbar-track{
   background: var(--color-vr-white);
}
::-webkit-scrollbar-thumb{
   background: var(--color-vr-yellow);
   border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
   background: var(--color-vr-darkYellow);
}